  <nav class="navbar navbar-default">
    <button mat-flat-button color="accent" routerLink="/Principal">VOLVER</button>

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            CLICLEAME PARA MAS INFO  <span class="material-icons">favorite</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p> Hola! Soy Mathias, estudiante de la Tecnicatura Universitaria en Programación. <br> Esté es un proyecto a modo de TP de requerimiento
          obligatorio para el 1er Parcial de la catedrá Laboratorio IV. <br> El proposito era arreglar este proyecto, primeramente roto, desarrollado en Angular 1 y
          upgradearlo a Angular 10. Haciendo funcional los juegos clásicos y crear un juego propio, en mi caso <strong>"ESTE NO ES EL TRUCO!"</strong>
          porque es un truco que no tiene tantos ni se canta truco!<br>
          Se emplean tecnologías como <strong>HTML5, CSS3, TYPESCRIPT, JQUERY, ANGULAR y FIREBASE</strong>
        </p>

      </mat-expansion-panel>
    </mat-accordion>
  </nav>

  <div class="contenedor">
    <mat-card class="cardContenedor">
      <mat-grid-list cols="1" rowHeight="720px">

        <mat-grid-tile>
          <mat-card class="contenedorMenu">
            <mat-card-header>
              <mat-card-title><br><b>BUSTAMANTE MATHIAS</b> </mat-card-title>
              <mat-card-subtitle style="color: cadetblue;"><b>Estudiante!</b>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider><br>
            <mat-card-content>
              <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350"><br><br>
              <a mat-raised-button href="https://github.com/BustamanteMathias?tab=repositories" target="_blank"> <i class="fa fa-github"></i> Mi GitHub!</a><br><br>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </mat-card>



  </div>

  <!--DONDE FUNCIONA-->

  <div class="container-fluid bg-3 text-center">
    <div class="imagenes">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Tecnologias Web">
          <br><br><p><strong>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</strong></p>
          <img src="../../../assets/imagenes/quiensoy1.png" alt="">
        </mat-tab>
        <mat-tab label="Experiencia de Usuario">
          <br><br><p><strong>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</strong></p>
          <img src="../../../assets/imagenes/quiensoy2.png" alt="">
        </mat-tab>
        <mat-tab label="Sistemas">
          <br><br><p><strong>Para los sistemas operativos lideres en el mercado del consumo masivo</strong></p>
          <img src="../../../assets/imagenes/quiensoy3.png" alt="">
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
