.imagenDeQuienSoy{
    width: 100%;

    }
.bg-1 {
    background-color: #4527A0; /* Green */
    color: #ffffff;
}
.bg-3 {
    background-color: whitesmoke; /* White */
}
.container-fluid {
    height: 900px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.contenedorMenu{
  border-style: solid;
  border-color: #773AF0;
  background-color: white;
  height: 75%;
}

mat-card, .cardContenedor{
  background-color: transparent;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
