<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="juego">
    <th mat-header-cell *matHeaderCellDef> <strong>JUEGO</strong> </th>
    <td mat-cell *matCellDef="let element"> <p>{{element.juego}}</p> </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="cGano">
    <th mat-header-cell *matHeaderCellDef> <strong>GANO</strong> </th>
    <td mat-cell *matCellDef="let element"> <p>{{element.cGano}}</p> </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="cPerdio">
    <th mat-header-cell *matHeaderCellDef> <strong>PERDIO</strong> </th>
    <td mat-cell *matCellDef="let element"> <p>{{element.cPerdio}}</p> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
