table {
  position: absolute;
  width: 50%;
  left: 25%;
  right: 25%;
  top: 25%;
  background-color: rgba(255, 0, 255, 0.103);
  border-style: solid;
  border-color: rgb(255, 0, 255);
}

.filtro{
  position: relative;
  width: 30%;
  left: 35%;
  right: 35%;
  background-color: rgba(255, 255, 255, 0.158);
  border-style: solid;
  border-color: rgb(255, 0, 255);
}

mat-label{
color: white;
font-size: 0.85vw;
}

strong{
  font-size: 2.3vh;
  color: rgb(255, 255, 255);
}
p{
  color: white;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
