<app-cabecera></app-cabecera>

<div class="contenedor">
  <mat-card class="cardContenedor">
    <mat-grid-list cols="4" rowHeight="500px">

      <mat-grid-tile>
        <mat-card class="contenedorMenu">
          <mat-card-header>
            <mat-card-title><b>JUEGOS</b></mat-card-title>
            <mat-card-subtitle style="color: #4527A0;"><b>Ingresa para competir por el mejor lugar!</b>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider><br>
          <mat-card-content>
            <p>
              <b> El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los
                estudiantes
                que están inmersos en el proceso de aprendizaje. </b><br> Este método busca que los alumnos se apropien
              de los temas
              impartidos por los docentes utilizando el juego.
            </p>
          </mat-card-content>
          <mat-divider></mat-divider><br>
          <mat-card-actions>
            <button mat-flat-button style="width: 100%; position: relative; bottom: 10%;" color="primary" routerLink="/Juegos">JUGAR!</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="contenedorMenu">
          <mat-card-header>
            <mat-card-title><b>JUGADORES</b></mat-card-title>
            <mat-card-subtitle style="color: #4527A0;"><b>Ingresa para competir por el mejor lugar!</b>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider><br>
          <mat-card-content>
            <p>
              <b> Visita perfiles y busca amigos! </b><br> Filtrá entre jugadores para encontrar a quién estés buscando.<br><br><br><br><br><br>
            </p>
          </mat-card-content>
          <mat-divider></mat-divider><br>
          <mat-card-actions>
            <button mat-flat-button style="width: 100%; position: relative; bottom: 10%;" color="primary" routerLink="/Jugadores">EXPLORAR JUGADORES</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="contenedorMenu">
          <mat-card-header>
            <mat-card-title><b>RANKING</b></mat-card-title>
            <mat-card-subtitle style="color: #4527A0;"><b>Explora!</b><br><br>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider><br>
          <mat-card-content>
            <p>
              <b> Visita la lista de los mejores jugadores! </b><br> Compite por la sima y buscá posicionarte entre los mejores.<br><br><br><br><br>
            </p>
          </mat-card-content>
          <mat-divider></mat-divider><br>
          <mat-card-actions>
            <button mat-flat-button style="width: 100%; position: relative; bottom: 10%;" color="primary" routerLink="/Listado">EXPLORAR</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="contenedorMenu">
          <mat-card-header>
            <mat-card-title><b>CONFIGURACIÓN</b></mat-card-title>
            <mat-card-subtitle style="color: #4527A0;"><b>Modifica todo a tu gusto!</b><br><br>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider><br>
          <mat-card-content>
            <p>
              <b> Encuentra la comodidad a la hora de jugar! </b><br>Configurá todo a tu comodidad para que la experiencia de juego sea más placentera.<br><br><br><br>
            </p>
          </mat-card-content>
          <mat-divider></mat-divider><br>
          <mat-card-actions>
            <button mat-flat-button style="width: 100%; position: relative; bottom: 10%;" color="primary" routerLink="/Principal">INGRESAR</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card>

</div>
