<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/patchwork" type="text/css"/>

<div style="margin-top: 70px;">
  <mat-toolbar class="toolBar-2">
    <p>SALA DE JUEGOS</p>
  </mat-toolbar>
</div>

<mat-grid-list cols="1" rowHeight="700px">
  <mat-grid-tile >
    <mat-card class="componenteLogin">
      <h2><strong>BIENVENIDO!</strong></h2>
      <mat-tab-group animationDuration="2000ms">
        <!-- LOGIN -->
        <mat-tab label="LOGIN">
          <br><strong>INGRESAR</strong><br>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ingrese correo" value="" type="email">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Ingrese contraseña" value="" type="password">
            </mat-form-field>
          </form>

          <div class="example-button-row">
            <br>
            <button mat-stroked-button routerLink="/Principal"><strong>CONTINUAR</strong></button>
          </div>
        </mat-tab>
        <!-- REGISTER -->
        <mat-tab label="REGISTER">
          <br><strong>COMPLETAR</strong><br>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ingrese correo" value="" type="email">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder= "Ingrese contraseña" value="" type="password">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Re-Password</mat-label>
              <input matInput placeholder="Re-Ingrese contraseña" value="" type="password">
            </mat-form-field>
          </form>

          <div class="example-button-row">
            <br>
            <button mat-stroked-button routerLink="/Principal"><strong>REGISTRARSE</strong></button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
