.toolBar-2{
  color: rgb(255, 0, 179);
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: 'PatchworkFlyRegular';
  font-style: normal;
  text-align: center;
  font-size: 15vh;
  background-color: transparent;
}

.componenteLogin{
  border-style: solid;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.438);
}

h2{
  color: white;
  text-align: center;
}

