.padre {
  /* IMPORTANTE */
  text-align: center;
}

.slotNPC, .hijo {
  display: inline-block;
  background: url("../../../../../assets/cartas/reverso.png");
  padding: 10px;
  margin: 10px;
  width: 125px;
  height: 200px;
  cursor: pointer;
  color: red;
}

.slotVacio{
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 125px;
  height: 200px;
  color: red;
}

p{
  position: relative;
  top: 150px;
  font-weight: bold;
  color: #ffffff;
  background-color: black;
}

.pantallaFinal{
  margin: 1rem;
  padding: 1rem;
  /* IMPORTANTE */
  text-align: center;

  .btn{
    display: inline-block;
    justify-content: center;
    left: 50vh;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 50px;
    color: #ffffff;
    background-color: #1884ba8a;
    border-radius: 6px;
    border: 2px solid #ff00dd;
  }

  .btn:hover{
    color: #ffffff;
    background-color: #ff00d452;
  }

  p{
    position: block;
    top: 50vh;
    text-align: center;
    font-family: 'ClaybornRegular';
   font-weight: bold;
   font-style: normal;
   color: aliceblue;
   font-size: 150px;
  }
}
