.padre {
  /* IMPORTANTE */
  text-align: center;
}

.slotNPC, .hijo {
  display: inline-block;
  background: url("../../../../../assets/cartas/reverso.png");
  padding: 10px;
  margin: 10px;
  width: 125px;
  height: 200px;
  cursor: pointer;
  color: red;
}

.slotVacio{
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 125px;
  height: 200px;
  color: red;
}

p{
  position: relative;
  top: 150px;
}
