.pantalla{
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
}

.contenedor {
  display: block;
  width: 50vw;
  height: 50vh;
  background-color: white;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.contenido {
  display: block;
  background-color: red;
  width: 25vw;
  height: 25vw;
  margin-left: auto;
  margin-right: auto;
}
