<app-cabecera></app-cabecera>
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/jellee-typeface" type="text/css" />


<div id="containerGame" class="container" [hidden]="visibleJuego" >
    <div class="jugador" >
        <p>TU</p>
        <div class="imagenes">
            <img src="../../../assets/imagenes/piedra.png" (click)="Juego(1)" id="piedra" alt="">
            <img src="../../../assets/imagenes/papel.png" (click)="Juego(2)" id="papel" alt="">
            <img src="../../../assets/imagenes/tijera.png" (click)="Juego(3)" id="tijera" alt="">
        </div>
        <p class="puntosJugador" id="puntosJugador">Puntos: {{intentosJugador}} </p>
    </div>
    <div class="maquina" [ngClass]="{fondoPiedra: jugadaMaquina == 'Piedra', fondoPapel: jugadaMaquina == 'Papel', fondoTijera: jugadaMaquina == 'Tijera',fondoVacio:jugadaMaquina==null}">
        <p>MAQUINA</p>
        <p class="puntosMaquina" id="puntosMaquina">Puntos: {{intentosMaquina}} </p>
    </div>
</div>

<p style="color: aliceblue;">{{info}}</p>
<div class="containerMensaje" id="containerMensaje" [hidden]="visibleResultado">
  <p> {{mensaje}} </p><br><br><br><br><br><br>

  <button (click)="reiniciar()">VOLVER A JUGAR</button>
  <button routerLink="/Juegos">RETIRARSE</button>
</div>


