<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/patchwork" type="text/css"/>

<p>
  <mat-toolbar class="toolBar-1">
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/Principal">
    <span class="material-icons"> reply_all </span>
  </button>
  <span routerLink="/"> SALIR</span>
  <span class="example-spacer"></span>
  <span routerLink="/QuienSoy"> QUIÉN SOY</span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/QuienSoy">
    <mat-icon>face</mat-icon>
  </button>
</mat-toolbar>

<mat-toolbar class="toolBar-2">
  <p>SALA DE JUEGOS</p>
</mat-toolbar>
</p>

