.example-spacer {
  flex: 1 1 auto;
}

.toolBar-1 {
  background-color: transparent;
  color: aliceblue;
  cursor: default;
}

.toolBar-2 {
  color: rgb(255, 0, 179);
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: 'PatchworkFlyRegular';
  font-style: normal;
  text-align: center;
  font-size: 10vh;
  background-color: transparent;
  cursor: default;
}

p {
  cursor: pointer;
}

span {
  cursor: pointer;
}
