* {
  margin: 0%;
  padding: 0%;
  outline: none;

}

p {
  font-family: 'JelleeBold';
  font-weight: normal;
  font-style: normal;
  font-size: 4em;
}

p, .intentos{
color: white;
}

.btnComenzar{
  position: relative;
  top: 21%;
}

.cnt-memotest {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.lbl-memotest {
  top: 0%;
  height: 20%;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: var(--red);
  vertical-align: middle;
}

.cnt-juego-memotest {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 70vw;
  height: 80vh;
  transform: translateY(-50%);
  overflow: hidden;
}

button {
  width: 30%;
  border: 2px solid var(--light-blue);
  color: var(--red);
  background: transparent;
  font-size: 1rem;
}

.cnt-tablero-memotest {
  position: relative;
  top: 10%;
  text-align: center;
  background: red(0, 0, 0, .5);
  width: 100%;
  height: 100%;
}

h2 {
  color: var(--light-blue);
}

.casilla_0,
.casilla_1,
.casilla_2,
.casilla_3,
.casilla_4,
.casilla_5,
.casilla_6,
.casilla_7,
.casilla_8,
.casilla_9,
.casilla_10,
.casilla_11 {
  height: 23%;
  width: 20%;
  margin: 3px;
  background-size: 100% 100%;
  border: 0px;
  background-color: transparent;
}

.casilla_0 {
  border-left: 3px solid #ff009d;
  border-right: 3px solid #ff009d;
  border-top: 3px solid #ff009d;
  border-bottom: 3px solid #ff009d;
  background-color: indigo;
}

.casilla_1,
.casilla_2 {
  border-left: 3px solid #ff009d;
  border-right: 3px solid #ff009d;
  border-top: 3px solid #ff009d;
  border-bottom: 3px solid #ff009d;
  background-color: indigo;
}

.casilla_3 {
  border-left: 3px solid #ff009d;
  border-right: 3px solid #ff009d;
  border-top: 3px solid #ff009d;
  border-bottom: 3px solid #ff009d;
  background-color: indigo;
}

.casilla_4 {
  border-left: 3px solid #ff009d;
  border-right: 3px solid #ff009d;
  border-top: 3px solid #ff009d;
  border-bottom: 3px solid #ff009d;
  background-color: indigo;
}

.casilla_5,
.casilla_6 {
  border-left: 3px solid #ff009d;
  border-right: 3px solid #ff009d;
  border-top: 3px solid #ff009d;
  border-bottom: 3px solid #ff009d;
  background-color: indigo;
}

.casilla_7 {
  border-left: 3px solid #ff009d;
  border-right: 3px solid #ff009d;
  border-top: 3px solid #ff009d;
  border-bottom: 3px solid #ff009d;
  background-color: indigo;
}

.casilla_8 {
  border-left: 3px solid #ff009d;
  border-right: 3px solid #ff009d;
  border-top: 3px solid #ff009d;
  border-bottom: 3px solid #ff009d;
  background-color: indigo;
}

.casilla_9,
.casilla_10 {
  border-left: 3px solid #ff009d;
  border-right: 3px solid #ff009d;
  border-top: 3px solid #ff009d;
  border-bottom: 3px solid #ff009d;
  background-color: indigo;
}

.casilla_11 {
  border-left: 3px solid #ff009d;
  border-right: 3px solid #ff009d;
  border-top: 3px solid #ff009d;
  border-bottom: 3px solid #ff009d;
  background-color: indigo;
}

.f_0 {
  background-image: url("../../../../../assets/imagenes/memo1.png");
  background-size: 100% 100%;
}

.f_1 {
  background-image: url("../../../../../assets/imagenes/memo2.png");
  background-size: 100% 100%;
}

.f_2 {
  background-image: url("../../../../../assets/imagenes/memo3.png");
  background-size: 100% 100%;
}

.f_3 {
  background-image: url("../../../../../assets/imagenes/memo4.png");
  background-size: 100% 100%;
}

.f_4 {
  background-image: url("../../../../../assets/imagenes/memo5.png");
  background-size: 100% 100%;
}

.f_5 {
  background-image: url("../../../../../assets/imagenes/memo6.png");
  background-size: 100% 100%;
}
